@model IEnumerable<ShipperManager.Models.Shipper>

@{
    ViewBag.Title = "Index";
}
<script src="www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-database.js"></script>

<script src="~/Scripts/shipper-map.js"></script>

<h2>Quản Lý Shipper</h2>

<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Quê Quán
        </th>
        <th>
            Tài Khoản
        </th>
        <th>
            Mật Khẩu
        </th>
        <th>
            Trạng Thái
        </th>
        <th>
            Ảnh
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QueQuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            <img id="image" src="@item.ImagePath" height="100" width="100" asp-append-version="true" />
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
<div>
    <label class="label-info">Bản Đồ Shipper</label>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ98LDwfFxMuX46r1us23C2x0g1b6oTy4&callback=initMap&libraries=places&v=weekly"
            defer></script>
</div>
